MODE=dev
PORT=4000

DATABASE_URL=postgresql://user:password@localhost:5440/dev_db

UPSTASH_REDIS_REST_URL=https://your-redis-url.upstash.io
UPSTASH_REDIS_REST_TOKEN=your-redis-token

LOG_FILE_PATH=./logs/app.log
